/*
 * Copyright (c) 2022, Stefano Cottafavi <stefano.cottafavi@gmail.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

 #include <zephyr/dt-bindings/pinctrl/stm32f1-pinctrl.h>

/ {
	aliases {
	   uart1 = &usart1;
	   uart2 = &usart2;
	   tmc0 = &tmc_0;
   };
};

// USART1 tx:PA9 (rx:PA10, not used in single-wire mode)

&usart1 {

	single-wire;
	pinctrl-0 = <&usart1_tx_pa9>;

	tmc_0:tmc5160 {
		compatible = "trinamic,tmc5160";
		status = "okay";
	};
};
