# Copyright (c) 2022, Stefano Cottafavi <stefano.cottafavi@gmail.com>
#
# SPDX-License-Identifier: Apache-2.0

menuconfig TMC2130
	bool "Enable support for the TMC2130 stepper driver"
	default y
	depends on DT_HAS_TRINAMIC_TMC2130_ENABLED
	select HAS_TMCLIB
	select SPI if $(dt_compat_on_bus,$(DT_COMPAT_TRINAMIC_TMC2130),spi)
	select TMC_SPI if $(dt_compat_on_bus,$(DT_COMPAT_TRINAMIC_TMC2130),spi)

	help
		Enable driver for TMC2130 stepper driver.

if TMC2130

# TODO: diag pins and others

endif # TMC2130
