# printHAT v2 board configuration

# Copyright (c) 2022 Stefano Cottafavi
# SPDX-License-Identifier: Apache-2.0

config BOARD_PRINTHAT2
	bool "printHAT v2 Motion Control Board"
	depends on SOC_STM32F401XE
