/*
* Copyright (c) 2022, Stefano Cottafavi <stefano.cottafavi@gmail.com>
*
* SPDX-License-Identifier: Apache-2.0
*/

 /dts-v1/;
 #include <st/f4/stm32f401Xe.dtsi>
 #include <st/f4/stm32f401r(d-e)tx-pinctrl.dtsi>

 / {
	 model = "Wrecklab's printHAT v2 board";
	 compatible = "wrecklab,printhat2";

	 chosen {
		 zephyr,console = &usart1;
		 zephyr,shell-uart = &usart1;
		 //zephyr,console = &cdc_acm_uart0;
		 //zephyr,shell-uart = &cdc_acm_uart0;
		 zephyr,sram = &sram0;
		 zephyr,flash = &flash0;
		 zephyr,code-partition = &slot0_partition;
	 };

	 leds {
		compatible = "gpio-leds";
		led_0:led_0 {
			 gpios = <&gpioc 0 GPIO_ACTIVE_LOW>;
		};
		led_1:led_1 {
			gpios = <&gpioc 1 GPIO_ACTIVE_LOW>;
		};
		led_2:led_2 {
			gpios = <&gpioc 2 GPIO_ACTIVE_LOW>;
		};
		led_3:led_3 {
			gpios = <&gpioc 3 GPIO_ACTIVE_LOW>;
		};
		led_4:led_4 {
			gpios = <&gpioc 4 GPIO_ACTIVE_LOW>;
		};
	 };

	 aliases {
		h0 = &led_0;
		h1 = &led_1;
		h2 = &led_2;
		f0 = &led_3;
		f1 = &led_4;
	 };
 };

 &clk_hse {
	 //hse-bypass;
	 clock-frequency = <DT_FREQ_M(8)>;
	 status = "okay";
 };

 &pll {
	 div-m = <8>;
	 mul-n = <336>;
	 div-p = <4>;
	 div-q = <7>;
	 clocks = <&clk_hse>;
	 status = "okay";
 };

 &rcc {
	 clocks = <&pll>;
	 clock-frequency = <DT_FREQ_M(84)>;
	 ahb-prescaler = <1>;
	 apb1-prescaler = <2>;
	 apb2-prescaler = <1>;
 };

 /*zephyr_udc0: &usbotg_fs {
	pinctrl-0 = <&usb_otg_fs_dm_pa11 &usb_otg_fs_dp_pa12
		&usb_otg_fs_id_pa10>;
	pinctrl-names = "default";
	status = "okay";

	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};*/

 // USART1 tx:PA9 rx:PA10 	--- to/from RPi
 // USART2 tx:PA2 rx:PA3 	--- UART1, mot X,Y,Z
 // USART6 tx:PC6 rx:PC7	--- UART2, mot E0,E1
 &usart1 {
	pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
 };

 &usart2 {
	status = "okay";
	single-wire;

	pinctrl-0 = <&usart2_tx_pa2>;
	pinctrl-names = "default";
	current-speed = <115200>;

	dmas = 	<&dma1 6 4 0x28440 0x03>,	// Stream 6, Channel 4, ...
			<&dma1 5 4 0x28480 0x03>;	// Stream 5, Channel 4, ...
	dma-names = "tx", "rx";

	s1:tmc2209_1 {
		compatible = "trinamic,tmc2209";
		status = "okay";
		slaveaddr = <0>;
	};
	s2:tmc2209_2 {
		compatible = "trinamic,tmc2209";
		status = "okay";
		slaveaddr = <1>;
	};
	s3:tmc2209_3 {
		compatible = "trinamic,tmc2209";
		status = "okay";
		slaveaddr = <2>;
	};
 };

 &usart6 {
	status = "okay";
	single-wire;

	pinctrl-0 = <&usart6_tx_pc6>;
	pinctrl-names = "default";
	current-speed = <115200>;

	// see:
	// https://docs.zephyrproject.org/latest/build/dts/api/bindings/dma/st%2Cstm32-dma-v1.html#st-stm32-dma-v1
	dmas = 	<&dma2 6 5 0x28440 0x03>,	// Stream 6, Channel 5, ...
			<&dma2 1 5 0x28480 0x03>;	// Stream 1, Channel 5, ...
	dma-names = "tx", "rx";

	/*tmc5160 {
		compatible = "trinamic,tmc5160";
		status = "okay";
	};
	tmc5160 {
		compatible = "trinamic,tmc5160";
		status = "okay";
	};
	*/

 };


 // see
 // https://github.com/zephyrproject-rtos/zephyr/blob/db3f8c16e9c95801961a433c07f481bfcb385466/tests/drivers/uart/uart_async_api/boards/nucleo_f103rb.overlay
 &dma1 {
	status = "okay";
 };
 &dma2 {
	status = "okay";
 };


 /*&timers2 {
	status = "okay";

	pwm2: pwm {
		status = "okay";
		pinctrl-0 = <&tim2_ch1_pa5>;
		pinctrl-names = "default";
	};
 };*/


 /*&adc1 {
	pinctrl-0 = <&adc1_in0_pa0>;
	pinctrl-names = "default";
	status = "okay";
 };*/


 &flash0 {

	 partitions {
		 compatible = "fixed-partitions";
		 #address-cells = <1>;
		 #size-cells = <1>;

		 boot_partition: partition@0 {
			 label = "mcuboot";
			 reg = <0x00000000 0x00010000>;
			 read-only;
		 };

		 /*
		  * The flash starting at offset 0x10000 and ending at
		  * offset 0x1ffff is reserved for use by the application.
		  */

		 slot0_partition: partition@20000 {
			 label = "image-0";
			 reg = <0x00020000 0x00020000>;
		 };
		 slot1_partition: partition@40000 {
			 label = "image-1";
			 reg = <0x00040000 0x00020000>;
		 };
		 scratch_partition: partition@60000 {
			 label = "image-scratch";
			 reg = <0x00060000 0x00020000>;
		 };
	 };
 };
