# Copyright (c) 2022, Stefano Cottafavi <stefano.cottafavi@gmail.com>
#
# SPDX-License-Identifier: Apache-2.0

menuconfig TMC5160
	bool "TMC5160 stepper driver"
	#depends on SPI || SERIAL
	help
		Enable driver for TMC5160 stepper driver.

if TMC5160

choice
	prompt "Communication bus"
	default TMC5160_SPI
	help
	  Specify the type of bus the driver uses for communication

config TMC5160_SPI
	bool "Use SPI"
	select SPI

config TMC5160_UART
	bool "Use UART"
	select SERIAL

endchoice

endif # TMC5160