# Copyright (c) 2022, Stefano Cottafavi <stefano.cottafavi@gmail.com>
#
# SPDX-License-Identifier: Apache-2.0

menuconfig TMC5160
	bool "Enable support for the TMC5160 stepper driver"
	default y
	depends on DT_HAS_TRINAMIC_TMC5160_ENABLED
	select HAS_TMCLIB
	select SPI if $(dt_compat_on_bus,$(DT_COMPAT_TRINAMIC_TMC5160),spi)
	select TMC_SPI if $(dt_compat_on_bus,$(DT_COMPAT_TRINAMIC_TMC5160),spi)
	select SERIAL if $(dt_compat_on_bus,$(DT_COMPAT_TRINAMIC_TMC5160),uart)
	select TMC_UART if $(dt_compat_on_bus,$(DT_COMPAT_TRINAMIC_TMC5160),uart)
	help
		Enable driver for TMC5160 stepper driver.

if TMC5160

# TODO: add diag pin

endif # TMC5160
