# Copyright (c) 2022, Stefano Cottafavi <stefano.cottafavi@gmail.com>
#
# SPDX-License-Identifier: Apache-2.0

menuconfig TMC5160
	bool "Enable support for the TMC5160 stepper driver"
	default y
	depends on DT_HAS_TRINAMIC_TMC5160_ENABLED
	select HAS_TMCLIB
	help
		Enable driver for TMC5160 stepper driver.

if TMC5160

choice
	prompt "Communication bus"
	default TMC_SPI
	help
		Specify the type of bus the driver uses for communication

config TMC_SPI
	bool "Use SPI"
	select SPI

config TMC_UART
	bool "Use UART"
	select SERIAL

endchoice

endif # TMC5160
