# Copyright (c) 2022, Stefano Cottafavi <stefano.cottafavi@gmail.com>
#
# SPDX-License-Identifier: Apache-2.0

menuconfig TMC2209
	bool "Enable support for the TMC2209 stepper driver"
	help
		Enable driver for TMC2209 stepper driver.

if TMC2209

config TMC2209_UART
	bool "Use UART"
	select SERIAL

endif # TMC2209
