/*
 * Copyright (c) 2022, Stefano Cottafavi <stefano.cottafavi@gmail.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	chosen {
		zephyr,console = &usart2;
		zephyr,shell-uart = &usart2;
	};
	aliases {
		tmc0 = &tmc_0;
		motor0 = &motor_0;
	};
};

&spi2 {
	cs-gpios = <&gpiob 12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;

	tmc_0: tmc5160@0 {
		compatible = "adi,tmc5160";
		status = "okay";
		reg = <0>;

		#address-cells = <1>;
        #size-cells = <0>;

		spi-max-frequency = <DT_FREQ_M(1)>;

		clock-frequency = <DT_FREQ_M(12)>; /* Int/Ext Clock frequency */

		motor_0: motor@0 {
			status = "okay";
			reg = <0>;

			/* common stepper controller settings */
			invert-direction;
			micro-step-res = <1>;

			/* ADI TMC ramp generator as well as current settings */
			vstart = <10>;
			a1 = <20>;
			v1 = <0>;
			d1 = <40>;
			vmax = <100>;
			amax = <60>;
			dmax = <70>;
			tzerowait = <80>;
			vhigh = <90>;
			vcoolthrs = <100>;
			ihold = <1>;
			irun = <16>;
			iholddelay = <3>;
		};
	};
};
