# printHAT v2 board configuration

# Copyright (c) 2022 Stefano Cottafavi
# SPDX-License-Identifier: Apache-2.0

config BOARD_PRINTHAT1
	bool "printHAT v1 Motion Control Board"
	depends on SOC_STM32F103XB
